/* font-family: 'Roboto Mono', monospace; */

body {
    background-color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
}

.all-view {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
    
}

.margin-bottom {
    margin-bottom: 1rem;
}

input:focus {
    border: 1px solid red;
}

input:hover {
    border: 1px solid blueviolet;
}

#pizza {
    margin-top: 10px;
}

inpute {
    outline: none;
}